@charset "UTF-8";

.content {
  font-size: 1.15em;
}

.form {
  padding: 52px;
}

.form h3 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.form input.form-control {
  border-radius: 0;
  margin-bottom: 2px;
  padding: 15px;
  border: none;
}

.form .form-group {
  margin-bottom: 43px;
}

.form small {
  font-size: 13px;
}

.form .btn {
  margin-bottom: 33px;
  height: 60px;
}

.header-contacts {
  background-color: white;
  font-weight: bold;
  padding: 0;
}

.header-contacts .header-contacts-callback .phone {
  display: none;
}

.header-contacts .header-contacts-inner {
  padding: 1em 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}

.header-contacts .header-contacts-price-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
  transition: all .3s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header-contacts .header-contacts-price-list:hover {
  color: #ed3747;
}

.header-contacts .header-left-nav {
  -ms-flex-positive: 7;
      flex-grow: 7;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.header-contacts .header-contacts-contacts {
  -ms-flex-positive: 4;
      flex-grow: 4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.header-contacts .header-contacts-callback {
  margin-left: 1.5em;
}

.header-contacts .header-contacts-brand {
  color: #ed3747;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.header-contacts .header-contacts-time {
  margin-top: -1.25em;
  line-height: 1.25;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header-contacts .header-contacts-time small {
  font-size: 0.85em;
  font-weight: bold;
  color: silver;
}

.header-contacts .header-contacts-language-button {
  width: 73px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 1em;
}

.navbar {
  background-color: #282931;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0;
}

.navbar .container {
  padding: 0;
  position: relative;
  height: 65px;
}

.navbar .navbar-nav-hamburger {
  color: #5385d9;
  width: 73px;
  height: 65px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 1em;
  cursor: pointer;
}

.navbar .navbar-nav-custom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-positive: 12;
      flex-grow: 12;
  -ms-flex-align: center;
      align-items: center;
}

.navbar .navbar-nav-custom .nav-link {
  color: white;
  font-weight: bold;
}

.navbar .navbar-nav-custom *:first-child {
  padding-left: 0;
}

.navbar .navbar-menu:hover .navbar-nav-hamburger {
  background-color: white;
}

.navbar .navbar-menu:hover .items {
  display: block;
}

.navbar .navbar-menu .items {
  display: none;
  position: absolute;
  right: 0;
  top: 65px;
  z-index: 100;
  background-color: white;
  padding: 20px 0;
}

.navbar .navbar-menu .items .nav-link {
  transition: all .1s;
  padding: 8px 32px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.navbar .navbar-menu .items .nav-link:hover {
  background-color: #282931;
  color: white;
}

.btn-round {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  box-shadow: 0 0 32px 4px #e5e5e5;
  padding: 5px;
  font-size: 24px;
  text-align: center;
}

.btn-round.btn-round-sm {
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.btn {
  border-radius: 1.5em;
  padding: 0.5em 2em;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}

.section-1 {
  background: url("/images/background_herb.jpg");
  color: white;
  height: 550px;
  font-size: 20px;
}

.section-1 .description-wrapper {
  width: 587px;
}

.section-1 .description {
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
}

.section-1 .description .description-dash {
  padding-right: 20px;
}

.section-1 .description .description-text {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.section-1 h1 {
  width: 100%;
  display: block;
  margin: 0;
  color: #ffd200;
  font-size: 65px;
  padding: 83px 0;
  letter-spacing: 15px;
  font-weight: bold;
  text-align: center;
}

.section-1 .items > .row {
  margin-left: 180px;
}

.section-1 .items .row {
  -ms-flex-align: center;
      align-items: center;
  font-weight: bold;
}

.section-1 .items .row i {
  font-size: 43px;
  margin-right: 33px;
}

.section-2 {
  height: 530px;
  background-color: #282931;
  color: white;
  background-image: url("/images/arrow_curved.png");
  background-repeat: no-repeat;
  background-position: 986px 360px;
}

.section-2 .container {
  position: relative;
}

.section-2 .container .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.section-2 .container .services {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: -73px;
  width: 588px;
}

.section-2 .container .services .service {
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
  color: white;
  transition: all .2s;
  text-decoration: none;
  float: left;
  width: 293px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: #ed3747;
  height: 256px;
}

.section-2 .container .services .service i {
  padding-top: 16px;
  color: black;
  font-size: 84px;
}

.section-2 .container .services .service .label {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.section-2 .container .services .service:hover {
  background-color: #fdebed;
  color: #ed3747;
}

.section-2 .container .description {
  padding-top: 117px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 190px;
}

.section-2 .container .description > div {
  margin-bottom: 42px;
}

.section-2 .container .description .highlighted {
  text-decoration: underline;
  color: #ed3747;
}

.section-3 {
  padding: 118px 0;
}

.section-3 .container h2 {
  padding-top: 52px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 95px;
}

.section-3 .container .description {
  display: -ms-flexbox;
  display: flex;
}

.section-3 .container .description .description-dash {
  padding-right: 30px;
  padding-top: 14px;
}

.section-3 .container .description .description-dash .description-dash-symbol {
  border-top: 1px solid black;
  width: 73px;
}

.section-3 .container .description .description-text {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.section-3 .container .form {
  height: auto;
  color: white;
  background-color: #3f65a5;
}

.section-3 .container .form h3 {
  margin-bottom: 53px;
}

.section-3 .container .form .btn {
  width: 100%;
}

.section-4 {
  margin-bottom: 69px;
}

.section-4 h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.section-4 .items {
  margin: 46px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  overflow-x: auto;
}

.section-4 .items .item {
  -ms-flex-preferred-size: 329px;
      flex-basis: 329px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  width: 428px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.section-4 .items .item .item-title {
  position: absolute;
  font-size: 16px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: white;
  background: linear-gradient(#4065a5 10%, transparent 33%);
  text-align: center;
  padding-top: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.section-4 .items .item img {
  width: 100%;
}

.section-4 .buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.section-4 .buttons .btn-round {
  margin: 0 6px;
}

.section-5 {
  background-color: #f6f6f6;
  padding: 72px 0;
}

.section-5 h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 72px;
}

.section-5 .items .item-durable {
  background: url("/images/princip_durable.png");
  background-repeat: no-repeat;
}

.section-5 .items .item-guard {
  background: url("/images/princip_guard.png");
  background-repeat: no-repeat;
}

.section-5 .items .item-cash {
  background: url("/images/princip_cash.png");
  background-repeat: no-repeat;
}

.section-5 .items .item-secure {
  background: url("/images/princip_security.png");
  background-repeat: no-repeat;
}

.section-5 .items .item {
  border: 1px solid #f6f6f6;
  height: 360px;
  padding-left: 140px;
  padding-top: 95px;
  padding-right: 30px;
  font-size: 16px;
  background-color: white;
}

.section-5 .items .item h3 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.section-address .address {
  background-color: #3f65a5;
  padding: 116px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  color: white;
  overflow: hidden;
}

.section-address .address h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 72px;
}

.section-address .address-image img {
  width: 100%;
}

.section-footer {
  color: #6e7277;
  background: #282931;
  padding: 58px;
}

.section-footer .container .row {
  display: -ms-flexbox;
  display: flex;
}

.section-footer .container .row > div {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.section-footer .container .row .contacts {
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 64px;
}

.section-footer h2 {
  font-size: 24px;
  margin-bottom: 48px;
}

.section-footer .phone-info {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 48px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.section-footer .phone-info .phone {
  margin-right: 1em;
}

.section-footer .phone-info .btn-callback {
  color: #a3a6ac;
  background-color: #282931;
  border: 2px solid #6e7277;
  padding: 1em 1.5em;
  border-radius: 3em;
}

.section-footer .services .services-title {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 42px;
}

.section-footer .services .services-title h3 {
  margin: 0 0.25em 0 0;
  font-size: 24px;
  color: #a3a6ac;
}

.section-footer .services .services-title .line {
  -ms-flex-positive: 1;
      flex-grow: 1;
  border-bottom: 1px solid #6e7277;
}

.section-footer .services ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 240px;
  list-style: none;
  padding: 0;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.section-footer .services ul .services-item {
  margin-right: 100px;
  margin-bottom: 6px;
}

.section-footer .services ul .services-item a {
  font-size: 16px;
  color: #a3a6ac;
}

.btn-info {
  background-color: #ed3747;
}

.section-breadcrumb {
  height: 411px;
  background-color: #3f65a5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.section-breadcrumb .container {
  color: white;
}

.section-breadcrumb .container .row {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.section-breadcrumb .container .row .image {
  width: 278px;
  height: 278px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 42px;
}

.section-breadcrumb .container .row .short-description {
  font-size: 20px;
}

.section-breadcrumb .container .row .title {
  font-size: 40px;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 32px 0;
}

.section-info {
  padding-bottom: 32px;
}

.section-info .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.section-info .row .text {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.section-info .row .text .discount {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 30px 0;
}

.section-info .row .text .discount .discount-sum {
  font-size: 95px;
  font-weight: bold;
  color: #ffd800;
}

.section-info .row .text .discount .discount-text {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  text-transform: uppercase;
}

.section-info .row .text .service-items .item {
  border: 1px solid #d7d7d7;
  border-bottom: none;
  display: -ms-flexbox;
  display: flex;
  padding: 38px;
}

.section-info .row .text .service-items .item:last-child {
  border-bottom: 1px solid #d7d7d7;
}

.section-info .row .text .service-items .item .item-button .btn {
  padding-top: 1em;
  padding-bottom: 1em;
}

.section-info .row .text .service-items .item .item-description {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 1.5em;
}

.section-info .row .text .service-items .item .item-info {
  -ms-flex-positive: 5;
      flex-grow: 5;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.section-info .row .text .service-items .item .item-sum {
  font-size: 28px;
  -ms-flex-positive: 3;
      flex-grow: 3;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-item-align: center;
      align-self: center;
  color: #4066a5;
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1em;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.section-info .row .text .service-items .item .item-sum > div {
  padding: 0.1em;
}

.section-info .row .text .service-items .item .item-sum > div.small {
  font-weight: bold;
  font-size: 0.5em;
  margin-top: 0.5em;
}

.section-info .row .text .content {
  padding-bottom: 120px;
}

.section-info .row .text .content h2 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: bold;
}

.section-info .row .container-offset {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 382px;
  margin-left: 30px;
  margin-top: -100px;
}

.section-info .row .container-offset h3 {
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
  font-size: 20px;
}

.section-info .row .container-offset .documents {
  padding: 1em 2em 2.5em;
  background-color: #eeeeee;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 30px;
}

.section-info .row .container-offset .documents .documents-icon {
  margin: 30px 0;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #282931;
  color: white;
  width: 123px;
  height: 123px;
  font-size: 50px;
  padding-right: 10px;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.section-info .row .container-offset .documents .documents-items .documents-item {
  margin: 0.5em 0;
}

.section-info .row .container-offset .documents .documents-items .documents-item:before {
  content: '— ';
}

.section-info .row .container-offset .form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #eeeeee;
  padding: 1em 2em 2.5em;
}

.section-info .row .container-offset .form h3 {
  margin: 30px 0 50px;
  color: #3f65a5;
}

.section-info .row .container-offset .form .btn {
  background-color: #3f65a5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  padding: 16px 60px;
  border-radius: 45px;
}

@media (max-width: 1199px) {
  .section-1 .container > .row {
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .section-1 .container > .row .description-wrapper {
    width: auto;
    margin-bottom: 1em;
  }

  .section-1 .container > .row .items > .row {
    margin-left: 0;
  }

  .section-1 h1 {
    font-size: 50px;
    padding: 40px 0;
  }

  .section-2 {
    height: 650px;
    background-image: none;
  }

  .section-2 .container .row {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .section-2 .container .description {
    margin-left: 0;
    padding-top: 1em;
  }

  .section-2 .container .description br {
    display: none;
  }

  .section-2 .container .description > div {
    margin-bottom: 1em;
  }

  .section-2 .container .services {
    width: 100%;
    margin-top: 2em;
  }

  .section-2 .container .services .service {
    width: calc(50% - 2px);
    font-size: 0.85em;
    height: 230px;
  }
}

@media (max-width: 992px) {
  .section-1 h1 {
    font-size: 35px;
  }

  .header-contacts,
  .navbar .container {
    max-width: 100%;
    padding: 0 1em;
  }

  .section-3 {
    padding: 0;
  }

  .section-3 .container h2 {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 50px;
    text-align: center;
  }

  .section-3 .container .description {
    font-size: 20px;
  }

  .section-3 .container .description .description-dash {
    display: none;
  }

  .section-3 .container .description .description-text {
    margin-bottom: 1em;
  }

  .section-4 {
    margin-top: 69px;
  }

  .section-4 .items {
    margin: 46px 0;
  }

  .section-4 .items .item {
    width: 228px;
    -ms-flex-preferred-size: 228px;
        flex-basis: 228px;
  }

  .section-5 {
    padding: 2rem 0;
  }

  .section-5 h2 {
    margin-bottom: 2rem;
  }

  .section-5 .items h3 {
    text-align: center;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.5);
  }

  .section-5 .items .item {
    padding: 50px;
    height: auto;
  }

  .section-5 .items .item-durable {
    background: white url("/images/princip_durable.png") no-repeat 0 -40px;
  }

  .section-5 .items .item-guard {
    background: white url("/images/princip_guard.png") no-repeat 0 -40px;
  }

  .section-5 .items .item-cash {
    background: white url("/images/princip_cash.png") no-repeat 0 -40px;
  }

  .section-5 .items .item-secure {
    background: white url("/images/princip_security.png") no-repeat 0 -40px;
  }

  .section-address .address {
    font-size: 20px;
    padding: 75px 0;
  }

  .section-address .address h2 {
    font-size: 30px;
    padding-bottom: 1.5rem;
  }

  .section-footer {
    padding: 1em;
  }

  .section-footer h2 {
    margin-bottom: 1em;
  }

  .section-footer .container .row .contacts {
    padding-right: 0;
  }

  .section-footer .container .row .contacts .phone-info {
    margin-bottom: 2em;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
  }

  .section-footer .container .row .contacts .phone-info .phone {
    margin-bottom: 1em;
  }

  .section-footer .services .services-title {
    margin-bottom: 1em;
  }

  .section-footer .services ul {
    height: auto;
  }

  .section-footer .services ul .services-item {
    margin-right: 0;
  }
}

@media (max-width: 570px) {
  .header-contacts-time,
  .header-contacts .header-contacts-price-list,
  .header-contacts-phone {
    display: none;
  }

  .header-contacts .header-contacts-callback .phone {
    display: block;
  }

  .section-1 {
    height: auto;
  }

  .section-1 h1 {
    font-size: 25px;
    letter-spacing: 5px;
  }

  .section-1 .description-wrapper .description {
    font-size: 16px;
    padding: 0 0.5em;
  }

  .section-1 .description-wrapper .description br {
    display: none;
  }

  .section-1 .items {
    margin-left: -30px;
    margin-bottom: 1em;
  }

  .section-1 .items .row .info {
    font-size: 16px;
  }

  .section-1 .items .row i {
    font-size: 30px;
    margin-right: 20px;
  }

  .section-2 {
    height: auto;
  }

  .section-2 .container .services {
    margin-top: 0;
  }

  .section-2 .container .description {
    font-size: 16px;
    padding: 1em 1em 0;
  }

  .section-3 {
    padding: 0;
  }

  .section-3 .container h2 {
    padding-top: 1em;
    margin-bottom: 1em;
    font-size: 30px;
    text-align: center;
  }

  .section-3 .container .description {
    font-size: 16px;
  }

  .section-3 .container .description .description-dash {
    display: none;
  }

  .section-3 .container .description .description-text {
    margin-bottom: 1em;
  }

  .section-3 .container .form {
    padding: 2em;
  }

  .section-3 .container .form h3,
  .section-3 .container .form .form-group,
  .section-3 .container .form .btn {
    margin-bottom: 1em;
  }

  .section-4 .items .item {
    width: 188px;
    -ms-flex-preferred-size: 188px;
        flex-basis: 188px;
  }

  .section-address .address {
    font-size: 16px;
    padding: 75px 0;
  }

  .section-address .address h2 {
    font-size: 20px;
    padding-bottom: 1em;
  }
}

@media (max-width: 480px) {
  .header-contacts-time {
    display: block;
  }

  .header-contacts .header-left-nav .header-contacts-brand {
    font-size: 2.5em;
    padding-bottom: 0.25em;
  }

  .header-contacts .header-contacts-callback.btn.btn-info {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .header-contacts-time {
    display: block;
    margin-bottom: 1em;
  }
}

