
.icon-time:before { content: '\e800'; } /* '' */
.icon-passport:before { content: '\e801'; } /* '' */
.icon-bullseye:before { content: '\e802'; } /* '' */
.icon-timer:before { content: '\e803'; } /* '' */
.icon-call:before { content: '\e804'; } /* '' */
.icon-diplom:before { content: '\e809'; } /* '' */
.icon-document:before { content: '\e80a'; } /* '' */
.icon-price:before { content: '\e812'; } /* '' */
.icon-document-2:before { content: '\e817'; } /* '' */